<h3>Metric Fu Results</h3>
<ul id='projects'>
<% metric_links.each do |link| %>
  <li class='even failure'>
    <%= link %>
  </li>
<% end %>
  <% if simple_cov_link %>
  <li class='even failure'>
    <a href="coverage/index.html">SimpleCov</a> Code coverage 
  </li>
  <% end %>
</ul>
<p>Generated on <%= Time.now.localtime %></p>
